<div class="btn-group" >
    {foreach $actions as $act}
        {if $iterator->isFirst()}
            <a href="{plink $act->getLink() $act->getParam()?$act->getParam():$id}" class="btn {$control->getClass().' '.$act->getClass()}" {!$act->getConfirm()}>
                <i n:if="$act->getIcon()" class="{$act->getIcon()}" ></i >
                {$act->getLabel()}
            </a >
            <a class="btn dropdown-toggle no-ajax   {$control->getClass()} {if count($actions)<2}disabled{else}{/if}"
                    data-toggle="dropdown" >
                <span class="ace-icon fa fa-caret-down icon-only" ></span >
            </a >
            <ul class="dropdown-menu " role="menu" >
        {else}
            {if $act->getLabel()=='divider'}
                <li class="divider" ></li >
            {else}
                <li >
                    <a n:class="$act->getClass()? $act->getClass()" href="{plink $act->getLink() $act->getParam()?$act->getParam():$id}"  {!$act->getConfirm()}>
                        <i n:if="$act->getIcon()" class="{$act->getIcon()}" ></i >
                        {$act->getLabel()}
                    </a >
                </li >
            {/if}
        {/if}
        {if $iterator->isLast()}
            </ul >
        {/if}
    {/foreach}
</div >
