<ul class="breadcrumb" n:inner-foreach="$bread as $item" class="breadcumb">
    <li>
            <i n:if="$iterator->isFirst()" class="ace-icon fa fa-home home-icon"></i>
            {if $item->getLink()}
        <a href="{plink $item->getLink()}">
            {$item->getLabel()}
        </a>
        {else}
            <span>{$item->getLabel()}</span>
            {/if}
    </li>
</ul>