<div class="sidebar sidebar-fixed responsive" id="sidebar" >
{var $level=0}
{block menu}
<ul n:class="$level?'submenu':'nav nav-list'">
    {foreach $menu as $item}
        <li n:class="$item->getClass()?$item->getClass(), $item->IsLinkCurrent()? 'active open'">
	           {if count($item->getComponents())}
                <a href="#" class="dropdown-toggle" >
                <i class="{$item->getIcon()}" ></i >
                <span class="menu-text" > {$item->getLabel()} </span >

                <b class="arrow fa fa-angle-down" ></b >
            </a >
                {include menu, menu => $item->getComponents(),level=>++$level}
            {else}
                {var $link=str_replace('*','',$item->getLink())}
                <a href="{plink $link,$item->getParams()}" >
                        <i class="{$item->getIcon()}" ></i >
                        <span class="menu-text" > {$item->getLabel()} </span >
                    </a >
            {/if}
         </li>
    {/foreach}
</ul>
{/block}
</div>